- job-group:
    name: 'builds'
    flavor:
      - "release"
      - "debug"

    jobs:
      - build-{flavor}

- job-template:
    name: 'build-{flavor}'
    node: 'traf_bld'

    parameters:
      - string:
          name: LOG_PATH
      - string:
          name: BUILD_TYPE
          default: ""
          description: "Blank for manual build; check, daily, pre-release, release"

    builders:
      - link-logs
      - clean-buildspace
      - single-git-prep:
           repos: "apache/incubator-trafodion"
      - pkg-traf:
           flavor: "{flavor}"
      - check-build:
           dir: "trafodion/core"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - check-build:
           dir: "trafodion/dcs"
      - pkg-install
#      no .gitignore in install
#      - check-build:
#           dir: "trafodion/install"
      - stage-traf:
           flavor: "{flavor}"
           btype: "$BUILD_TYPE"

    publishers:
      - traf-upload-to-cdn
      - archive:
          artifacts: 'trafodion/install/install*.tar.gz'
      - archive:
          artifacts: 'trafodion/dcs/target/dcs*.tar.gz'
      - archive:
          artifacts: 'trafodion/core/trafodion-regress.tgz'
      - archive:
          artifacts: 'trafodion/core/trafodion_clients*.tgz'
      - archive:
          artifacts: 'trafodion/core/trafodion_server*.tgz'
      - archive:
          artifacts: 'trafodion/core/rest/target/rest*.tar.gz'
      - archive:
          artifacts: 'trafodion/distribution/*'
      - console-log
      - git-log
      - traf-make-log


# Simple file type check can run on master
# Does not need to be exclusive
- job-template:
    name: 'gate-{name}-check-for-binary'
    node: master

    builders:
      - link-logs
      - gerrit-git-prep
      - assert-no-binary-files:
           gitdir: "."
      - assert-no-bad-source-files:
           gitdir: "."

    publishers:
      - console-log

- job:
    name: 'static-checks'
    node: master

    parameters:
      - string:
          name: LOG_PATH

    builders:
      - link-logs
      - single-git-prep:
           repos: "apache/incubator-trafodion"
      - assert-no-binary-files:
           gitdir: "trafodion"
      - assert-no-bad-source-files:
           gitdir: "trafodion"

    publishers:
      - console-log
      - git-log
