# @@@ START COPYRIGHT @@@
#
# (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
# @@@ END COPYRIGHT @@@

# use for combined repo
- builder:
    name: single-git-prep
    builders:
      - shell: "/usr/local/bin/git-prep-single.sh {repos}"

- builder:
    name: single-git-stable
    builders:
      - shell: "/usr/local/bin/git-prep-single.sh -b {branch} {repos}"

- builder:
    name: single-git-label
    builders:
      - shell: "/usr/local/bin/git-prep-single.sh -l \"{label}\" {repos}"

- builder:
    name: clean-workspace
    builders:
      - shell: "/usr/local/bin/wsclean.sh"

- builder:
    name: clean-buildspace
    builders:
      - shell: "/usr/local/bin/wsclean.sh build"

- builder:
    name: clean-testspace
    builders:
      - shell: "/usr/local/bin/wsclean.sh test"

- builder:
    name: check-node
    builders:
      - shell: "/usr/local/bin/check-node.sh"

# find matching build job, create properties file
# inject those properties (BLD_*)
# use them to copy all build artifacts
- builder:
    name: get-build
    builders:
      - shell: "/usr/local/bin/find-build-job.sh build-{branch}-{flavor}"
      - inject:
          properties-file: bld.properties
      - copyartifact:
          project: "$BLD_PROJ"
          which-build: specific-build
          build-number: "$BLD_NUM"
          filter: "**/*"

- builder:
    name: kill-traf
    builders:
      - shell: sudo -n /usr/local/bin/kill-rogue-instance.sh


- builder:
    name: check-build
    builders:
      - shell: "/usr/local/bin/check-git-status.sh {dir}"

- builder:
    name: pkg-traf
    builders:
      - shell: "/usr/local/bin/build-traf.sh {flavor} package-all"

- builder:
    name: pkg-install
    builders:
      - shell: "/usr/local/bin/build-install.sh"

- builder:
    name: docs-build
    builders:
      - shell: |
         cd trafodion
         . ./env.sh
         mvn post-site > maven.log 2>&1

- builder:
    name: stage-traf
    builders:
      - shell: "/usr/local/bin/stage-traf.sh {flavor} {btype} {branch}"

- builder:
    name: sql-regress
    builders:
      - shell: "/usr/local/bin/run-traf-regress.sh {dir} {suites}"

- builder:
    name: run-phoenix_test
    builders:
      - shell: '/usr/local/bin/run-phoenix_test.sh {trafCoreDir} {dcsDir} /usr/lib/jvm/java-1.7.0-openjdk.x86_64 {testDir} {jdbctype} {hadoopdistro} "{tests1}{tests2}{tests3}{tests4}"'

- builder:
    name: run-pyodbc_test
    builders:
      - shell: '/usr/local/bin/run-pyodbc_test.sh {trafCoreDir} {dcsDir} {testDir} "{tests1}"'

- builder:
    name: run-jdbc_test
    builders:
      - shell: '/usr/local/bin/run-jdbc_test.sh {trafCoreDir} {dcsDir} /usr/lib/jvm/java-1.7.0-openjdk.x86_64 {testDir} "{tests1}"'

- builder:
    name: rat-check
    builders:
      - shell: "/usr/local/bin/rat-check.sh"

- builder:
    name: assert-no-bad-source-files
    builders:
      - shell: "/usr/local/bin/find-bad-source.sh -d {gitdir}"

- builder:
    name: assert-no-binary-files
    builders:
      - shell: "/usr/local/bin/binary-file-check.sh {gitdir}"

- builder:
    name: jjb-lint
    builders:
      - shell: "sudo -n /usr/local/bin/jjblint.sh"

- builder:
    name: puppet-lint
    builders:
      - shell: |
          if [ -f Modulefile ]; then
            MODULE=$(awk '/^name/ {print $NF}' Modulefile |tr -d \"\')
            if [ -z "$MODULE" ]; then
              echo "Module name not defined in Modulefile"
            else
              mkdir -p "$MODULE"
              rsync -a --exclude="$MODULE" --exclude ".*" . "$MODULE"
              cd "$MODULE"
            fi
          fi
          rake lint 2>&1

- builder:
    name: puppet-syntax
    builders:
      - shell: |
          find . -iname *.pp | xargs puppet parser validate --modulepath=`pwd`/modules
          for f in `find . -iname *.erb` ; do
            erb -x -T '-' $f | ruby -c
          done

- builder:
    name: run-tests
    builders:
      - shell: "./run-tests.sh {github-org} {project}"

- builder:
    name: assert-no-extra-files
    builders:
      - shell: |
          #!/bin/bash
          OUT=`git ls-files --other --exclude-standard --directory`
          if [ -z "$OUT" ]; then
              echo "No extra files created during test."
              exit 0
          else
              echo "The following un-ignored files were created during the test:"
              echo "$OUT"
              exit 1
          fi

- builder:
    name: link-logs
    builders:
      - shell: |
          #!/bin/sh
          if test "$LOG_PATH" ; then
              echo "***"
              echo "***"
              echo "***"
              echo "*** Detailed logs: http://traf-testlogs.esgyn.com/$LOG_PATH/"
              echo "***"
              echo "***"
              echo "***"
          fi
          echo "***"
          echo "*** Jenkins build: $BUILD_URL"
          echo "***"
          echo "***"


# ======================================================================

- publisher:
    name: git-log
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/$LOG_PATH'
              source: 'Git-Prep.log'
              copy-after-failure: true

- publisher:
    name: traf-make-log
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/$LOG_PATH'
              source: 'trafodion/core/Make.log'
              copy-after-failure: true
            - target: 'logs/$LOG_PATH'
              source: 'trafodion/core/**/*build*log'
              copy-after-failure: true
              keep-hierarchy: true

- publisher:
    name: doc-log
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/$LOG_PATH'
              source: 'trafodion/maven.log'
              copy-after-failure: true


# rundir will be empty unless the job
# was aborted part way thru (e.g., timeout)
- publisher:
    name: traf-regress-log
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/$LOG_PATH'
              source: 'sql-regress-logs/**'
              copy-after-failure: true
              keep-hierarchy: true
            - target: 'logs/$LOG_PATH/sql-regress-logs'
              source: 'rundir/**'
              copy-after-failure: true
              keep-hierarchy: true
            - target: 'logs/$LOG_PATH'
              source: 'build_regr_test_env.log'
              copy-after-failure: true

- publisher:
    name: traf-runtime-log
    publishers:
      # corefile check if job aborted
      - postbuildscript:
          script-only-if-succeeded: false
          script-only-if-failed: false
          builders:
            - conditional-step:
                 condition-kind:  current-status
                 condition-worst: ABORTED
                 condition-best:  FAILURE
                 steps:
                     - shell: |
                         #!/bin/bash
                         source /usr/local/bin/traf-functions.sh
                         source_env run
                         [[ -f $WORKSPACE/corefiles.log ]] && exit 0
                         report_on_corefiles -u trafodion "${WORKSPACE}"
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/$LOG_PATH'
              source: 'Install_Start.log'
              copy-after-failure: true
            - target: 'logs/$LOG_PATH'
              source: 'corefiles.log'
              copy-after-failure: true
            - target: 'logs/$LOG_PATH'
              source: 'var_log_trafodion/*'
              copy-after-failure: true
              keep-hierarchy: true
            - target: 'logs/$LOG_PATH'
              source: 'hbase-logs/*'
              copy-after-failure: true
              keep-hierarchy: true
            # traf_run files saved in traf/files/buildtest/inst-sudo.sh
            - target: 'logs/$LOG_PATH'
              source: 'traf_run/logs/*.log'
              copy-after-failure: true
              keep-hierarchy: true
            - target: 'logs/$LOG_PATH'
              source: 'traf_run/sql/scripts/*log'
              copy-after-failure: true
              keep-hierarchy: true
            - target: 'logs/$LOG_PATH'
              source: 'traf_run/sql/scripts/stdout_*'
              copy-after-failure: true
              keep-hierarchy: true
            - target: 'logs/$LOG_PATH'
              source: 'traf_run/tmp/*'
              copy-after-failure: true
              keep-hierarchy: true
            - target: 'logs/$LOG_PATH'
              source: 'traf_run/dcs*/logs/*'
              copy-after-failure: true
              keep-hierarchy: true

- publisher:
    name: phoenix_test-log
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/$LOG_PATH/phoenix_test/surefire-reports'
              source: 'phx_test_run/target/surefire-reports/**'
              copy-after-failure: true
              keep-hierarchy: false
            - target: 'logs/$LOG_PATH/phoenix_test'
              source: 'phx_test_run/pom.xml'
              copy-after-failure: true
              keep-hierarchy: false
            - target: 'logs/$LOG_PATH/phoenix_test'
              source: 'phx_test_run/*.log'
              copy-after-failure: true
              keep-hierarchy: false
            - target: 'logs/$LOG_PATH'
              source: 'test_summary.txt'
              copy-after-failure: true
            - target: 'logs/$LOG_PATH/dcs/surefire-reports'
              source: 'trafodion/dcs/target/surefire-reports/**'
              copy-after-failure: true
              keep-hierarchy: true

- publisher:
    name: phoenix-xunit
    publishers:
      - xunit:
          thresholds:
            - failed:
                unstable: '0'
                unstablenew: '0'
                failure: '0'
                failurenew: '0'
            - skipped:
                unstable: '0'
                unstablenew: '0'
                failure: '0'
                failurenew: '0'
          types:
            - junit:
                pattern: "phx_test_run/target/surefire-reports/*.xml"

- publisher:
    name: pyodbc_test-log
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/$LOG_PATH/logs'
              source: 'trafodion/dcs/src/test/pytests/logs/**'
              copy-after-failure: true
            - target: 'logs/$LOG_PATH/logs/testrepository'
              source: 'trafodion/dcs/src/test/pytests/.testrepository/**'
              copy-after-failure: true
              keep-hierarchy: true
            - target: 'logs/$LOG_PATH/logs'
              source: 'trafodion/dcs/src/test/pytests/*.ini'
              copy-after-failure: true
            - target: 'logs/$LOG_PATH/logs'
              source: 'trafodion/dcs/src/test/pytests/env.sh'
              copy-after-failure: true
            - target: 'logs/$LOG_PATH/logs'
              source: 'trafodion/dcs/src/test/pytests/unix_odbc.trc'
              copy-after-failure: true
            - target: 'logs/$LOG_PATH'
              source: 'dcs/dcs*/logs/*'
              copy-after-failure: true
              keep-hierarchy: true
            - target: 'logs/$LOG_PATH/dcs/surefire-reports'
              source: 'trafodion/dcs/target/surefire-reports/**'
              copy-after-failure: true
              keep-hierarchy: true
      - xunit:
          thresholds:
            - failed:
                unstable: '0'
                unstablenew: '0'
                failure: '0'
                failurenew: '0'
            - skipped:
                unstable: '0'
                unstablenew: '0'
                failure: '0'
                failurenew: '0'
          types:
            - junit:
                pattern: "trafodion/dcs/src/test/pytests/logs/test_report.xml"

- publisher:
    name: jdbc_test-log
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/$LOG_PATH'
              source: 'dcs/dcs*/logs/*'
              copy-after-failure: true
              keep-hierarchy: true
            - target: 'logs/$LOG_PATH/surefire-reports'
              source: 'trafodion/dcs/src/test/jdbc_test/target/surefire-reports/**'
              copy-after-failure: true

- publisher:
    name: jdbc-xunit
    publishers:
      - xunit:
          thresholds:
            - failed:
                unstable: '0'
                unstablenew: '0'
                failure: '0'
                failurenew: '0'
            - skipped:
                unstable: '0'
                unstablenew: '0'
                failure: '0'
                failurenew: '0'
          types:
            - junit:
                pattern: "trafodion/dcs/src/test/jdbc_test/target/surefire-reports/*.xml"

- publisher:
    name: console-log
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/$LOG_PATH'
              copy-console: true
              copy-after-failure: true

- publisher:
    name: console-log-periodic
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/periodic/$JOB_NAME/$NODE_NAME/$BUILD_NUMBER'
              copy-console: true
              copy-after-failure: true

- publisher:
    name: traf-release-tar
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/buildvers'
              source: 'Versions-*'
      - scp:
          site: 'traf-builds.esgyn.com'
          files:
            - target: 'downloads/trafodion'
              source: 'publish/**'
              keep-hierarchy: true
 
- publisher:
    name: traf-daily-s3
    publishers:
      - s3:
          s3-profile: builder
          entries:
            - destination-bucket: trafodion.daily
              source-files: 'publish/**'
              storage-class: STANDARD
              bucket-region: us-west-2
              upload-on-failure: false
              upload-from-slave: true

- publisher:
    name: traf-upload-to-cdn
    publishers:
      - scp:
          site: 'traf-testlogs.esgyn.com'
          files:
            - target: 'logs/buildvers'
              source: 'Versions-*'
      - postbuildscript:
          builders:
            - shell: |
                #!/bin/bash
                cd $WORKSPACE/publish || exit 0
                res=0
                ls -d */ | while read dirName
                do
                  # make sure there are actually files
                  if [[ $(find $dirname -type f | wc -l) -ne 0 ]]; then
                    sudo -n /usr/local/bin/useObjectStorage.sh -cu $dirName
                    (( res += $? ))
                  fi
                done
                exit $res

- publisher:
    name: copy-system-logs
    publishers:
      - postbuildscript:
          script-only-if-succeeded: false
          script-only-if-failed: false
          builders:
            - shell: |
                #!/bin/bash
                mkdir -p $WORKSPACE/hbase-logs
                cp -r /var/log/hbase/* $WORKSPACE/hbase-logs/

- publisher:
    name: post-check-node
    publishers:
      - postbuildscript:
          script-only-if-succeeded: false
          script-only-if-failed: false
          builders:
            - shell: "/usr/local/bin/check-node.sh"
