- job:
    name: gate-noop
    node: master

- job:
    name: node-test

    parameters:
      - label:
          name: NODE
          description: Node to test
      - string:
          name: LOG_PATH
          default: node_test/$BUILD_NUMBER
          description: path on log server
      - string:
          name: BRANCH
          default: master
          description: git branch to build
      - bool:
          name: SQL
          default: true
          description: Run a SQL regression suite?
      - string:
          name: SQLSUITE
          default: udr
          description: Which SQL suite to run
      - bool:
          name: PQ
          default: false
          description: Run a Phoenix Quick2 test?
      - string:
          name: HADOOP_DISTRO
          default: ahw22
          description: Distro being tested (phoenix_test argument) ahw22, cm53,...
      - string:
          name: DRIVER
          default: T4
          description: Driver to test T2, T4
      - bool:
          name: PYODBC
          default: false
          description: Run a pyodbc test?
      - bool:
          name: JDBC
          default: false
          description: Run a jdbc test?

    wrappers:
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - pkg-traf:
           flavor: "release"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - conditional-step:
           condition-kind: boolean-expression
           condition-expression: $SQL
           steps:
               - sql-regress:
                    dir: "./trafodion/core"
                    suites: "$SQLSUITE"
      - conditional-step:
           condition-kind: boolean-expression
           condition-expression: $PQ
           steps:
               - run-phoenix_test:
                    trafCoreDir: "trafodion/core"
                    dcsDir: "trafodion/dcs"
                    testDir: "trafodion/phoenix_test"
                    jdbctype: "$DRIVER"
                    hadoopdistro: '$HADOOP_DISTRO'
                    tests1: "QUICK2"
                    tests2: ""
                    tests3: ""
                    tests4: ""
      - conditional-step:
           condition-kind: boolean-expression
           condition-expression: $PYODBC
           steps:
               - run-pyodbc_test:
                    trafCoreDir: "trafodion/core"
                    dcsDir: "trafodion/dcs"
                    testDir: "trafodion/dcs/src/test/pytests"
                    tests1: ""
      - conditional-step:
           condition-kind: boolean-expression
           condition-expression: $JDBC
           steps:
               - run-jdbc_test:
                    trafCoreDir: "trafodion/core"
                    dcsDir: "trafodion/dcs"
                    testDir: "trafodion/dcs/src/test/jdbc_test"
                    tests1: ""

    # superset here
    publishers:
      - post-check-node
      - console-log
      - git-log
      - traf-make-log
      - traf-runtime-log
      - traf-regress-log
      - phoenix-xunit
      - phoenix_test-log
      - pyodbc_test-log
      - jdbc_test-log
      - jdbc-xunit


- job-template:
    name: 'gate-{name}-jjb-lint'
    node: master

    builders:
      - gerrit-git-prep
      - jjb-lint

    publishers:
      - console-log


