- job:
    name: gate-noop
    node: master

- job:
    name: node-test

    parameters:
      - label:
          name: NODE
          description: Node to test
      - string:
          name: LOG_PATH
          default: node_test/$BUILD_NUMBER
          description: path on log server
      - string:
          name: BRANCH
          default: master
          description: git branch to build

    wrappers:
      - timeout:
          timeout: 100
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - pkg-traf:
           flavor: "release"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - sql-regress:
           dir: "./trafodion/core"
           suites: "udr"
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: "T4"
           tests1: "ProductMetricsTest"
           tests2: ""
           tests3: ""
           tests4: ""
      - run-pyodbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/pytests"
           tests1: "test_p2.SQLTest.test21"


    publishers:
      - phoenix-xunit
      - console-log
      - git-log
      - traf-make-log
      - pyodbc_test-log

