- job-group:
    name: 'core-regress-suites'
    suite:
      - "charsets"
      - "core"
      - "executor"
      - "qat"
      - "seabase"
      - "hive"
      - "compGeneral"
      - "udr"
      - "catman1"
      - "fullstack2"

    jobs:
      - core-regress-{suite}-{dist}

- job-template:
    name: 'core-regress-{suite}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 240
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/install trafodion/dcs"
      - pkg-traf:
           flavor: "release"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - sql-regress:
           dir: "./trafodion/core"
           suites: "{suite}"

    publishers:
      - post-check-node
      - console-log
      - git-log
      - traf-make-log
      - traf-regress-log
      - copy-system-logs
      - traf-runtime-log

# For phoenix_test* jobs parameters tests1-4 should contain a list of tests seperated by a comma and NO space OR
#   QUICK1 (Current tests used by the phoenix_quick job.  Approx 15 min.)
#   QUICK2 (Tests selected based on whether it had failed before and on elapsed time.  Approx 15 min.)
#   PART1  (First half of the phoenix test divided by time.  Approx 30 min.)
#   PART2  (Second half of the phoenix test divided by time.  Approx 30 min.)
#
# For instance : ExtendedQueryExecTest,ProductMetricsTest    OR
#                QUICK1
#
# If using multiple testsX parameters, be sure to include trailing comma on all but the last one.
# If parameters tests1-4 are all "" then all tests will be run
# If parameter tests1 = DONT_RUN_TESTS then none of the phoenix tests will run.
# This should only be used in phoenix_test-experimental if phoenix_test is running all tests.

- job-group:
    name: 'phoenix-jobs'
    jdbcDriverType:
      - "T4"
      - "T2"
    jobs:
      - 'phoenix_test_{jdbcDriverType}-experimental-{dist}'
      - 'phoenix_test_{jdbcDriverType}-{dist}'
      - 'phoenix_quick_{jdbcDriverType}-{dist}'
      - 'phoenix_part1_{jdbcDriverType}-{dist}'
      - 'phoenix_part2_{jdbcDriverType}-{dist}'

- job-template:
    name: 'phoenix_test_{jdbcDriverType}-experimental-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 200
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: '{jdbcDriverType}'
           hadoopdistro: '{dist}'
           tests1: "DONT_RUN_TESTS"
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - post-check-node
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log
      - copy-system-logs
      - traf-runtime-log

- job-template:
    name: 'phoenix_test_{jdbcDriverType}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 300
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: '{jdbcDriverType}'
           hadoopdistro: '{dist}'
           tests1: ""
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - post-check-node
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log
      - copy-system-logs
      - traf-runtime-log

- job-template:
    name: 'phoenix_quick_{jdbcDriverType}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 95
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: '{jdbcDriverType}'
           hadoopdistro: '{dist}'
           tests1: "QUICK1"
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - post-check-node
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log
      - copy-system-logs
      - traf-runtime-log

- job-template:
    name: 'phoenix_part1_{jdbcDriverType}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 180
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: '{jdbcDriverType}'
           hadoopdistro: '{dist}'
           tests1: "PART1"
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - post-check-node
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log
      - copy-system-logs
      - traf-runtime-log

- job-template:
    name: 'phoenix_part2_{jdbcDriverType}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 200
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: '{jdbcDriverType}'
           hadoopdistro: '{dist}'
           tests1: "PART2"
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - post-check-node
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log
      - copy-system-logs
      - traf-runtime-log

# For pyodbc_test* jobs parameter tests1 should contain a list of tests seperated by a space. For instance : test_p2.ConnectTest.test11 test_p2.ConnectTest.test12
# If parameter tests1 is "" then all tests will be run
# If parameter tests1 = DONT_RUN_TESTS then none of the pyodbc tests will run.  This should only be used in pyodbc_test-experimental if pyodbc_test is running all tests.
- job-template:
    name: 'pyodbc_test-experimental-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 75
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - kill-traf
      - run-pyodbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/pytests"
           tests1: "DONT_RUN_TESTS"

    publishers:
      - post-check-node
      - console-log
      - git-log
      - pyodbc_test-log
      - copy-system-logs
      - traf-runtime-log

- job-template:
    name: 'pyodbc_test-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 75
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - kill-traf
      - run-pyodbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/pytests"
           tests1: ""

    publishers:
      - post-check-node
      - console-log
      - git-log
      - pyodbc_test-log
      - copy-system-logs
      - traf-runtime-log

# test installer against stable branches
- job-template:
    name: 'pyodbc_test-cm5.1-stable'
    node: 'redhat_cm5.1'

    wrappers:
      - timeout:
          timeout: 75
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-stable:
           branch: "stable/1.0"
           repos: "trafodion/core trafodion/dcs"
      - multi-git-prep:
           repos: "trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - kill-traf
      - run-pyodbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/pytests"
           tests1: ""

    publishers:
      - post-check-node
      - console-log
      - git-log
      - pyodbc_test-log
      - copy-system-logs
      - traf-runtime-log

- job-template:
    name: 'pyodbc_test-cm5.3-stable1.1'
    node: 'redhat_cm5.3'

    wrappers:
      - timeout:
          timeout: 75
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-stable:
           branch: "stable/1.1"
           repos: "trafodion/core trafodion/dcs"
      - multi-git-prep:
           repos: "trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - kill-traf
      - run-pyodbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/pytests"
           tests1: ""

    publishers:
      - post-check-node
      - console-log
      - git-log
      - pyodbc_test-log
      - copy-system-logs
      - traf-runtime-log

# For jdbc_test* jobs parameter tests1 should start with "--testes=" and contain a list of
# tests seperated by a comma and NO space.
# For instance : "--tests=TestBasic,SomeOtherTest"
# If parameter tests1 is "" then all tests will be run
# If parameter tests1 = DONT_RUN_TESTS then none of the jdbc tests will run.
# This should only be used in jdbc_test-experimental if jdbc_test is running all tests.
- job-template:
    name: 'jdbc_test-experimental-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 90
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - run-jdbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/jdbc_test"
           tests1: "DONT_RUN_TESTS"

    publishers:
      - post-check-node
      - jdbc-xunit
      - console-log
      - traf-make-log
      - git-log
      - jdbc_test-log
      - copy-system-logs
      - traf-runtime-log

- job-template:
    name: 'jdbc_test-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 90
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - run-jdbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/jdbc_test"
           tests1: ""

    publishers:
      - post-check-node
      - jdbc-xunit
      - console-log
      - traf-make-log
      - git-log
      - jdbc_test-log
      - copy-system-logs
      - traf-runtime-log

# test installer against stable branches
- job-template:
    name: 'jdbc_test-ahw2.1-stable'
    node: 'redhat_ahw2.1'

    wrappers:
      - timeout:
          timeout: 90
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-stable:
           branch: "stable/1.0"
           repos: "trafodion/core trafodion/dcs"
      - multi-git-prep:
           repos: "trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - run-jdbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/jdbc_test"
           tests1: ""

    publishers:
      - post-check-node
      - jdbc-xunit
      - console-log
      - traf-make-log
      - git-log
      - jdbc_test-log
      - copy-system-logs
      - traf-runtime-log

- job-template:
    name: 'jdbc_test-ahw2.2-stable1.1'
    node: 'redhat_ahw2.2'

    wrappers:
      - timeout:
          timeout: 90
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - multi-git-stable:
           branch: "stable/1.1"
           repos: "trafodion/core trafodion/dcs"
      - multi-git-prep:
           repos: "trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - pkg-dcs:
           buildDir: "trafodion/dcs"
           coreJDBC: "trafodion/core"
      - pkg-install
      - run-jdbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/jdbc_test"
           tests1: ""

    publishers:
      - post-check-node
      - jdbc-xunit
      - console-log
      - traf-make-log
      - git-log
      - jdbc_test-log
      - copy-system-logs
      - traf-runtime-log

# Test-only jobs that wait on separate build job
# For now, generate only a few suites for testing
- job-group:
    name: 'regress-suites'
    suite:
      - "qat"
      - "seabase"
      - "udr"
    jobs:
      - regress-{suite}-{dist}

- job-template:
    name: 'regress-{suite}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 180
          fail: true
      - timestamps

    builders:
      - link-logs
      - check-node
      - kill-traf
      - clean-workspace
      - get-build:
          flavor: "release"
      - sql-regress:
          dir: "./trafodion/core"
          suites: "{suite}"

    publishers:
      - console-log
      - post-check-node
      - traf-regress-log
      - copy-system-logs
      - traf-runtime-log
