- job-group:
    name: 'core-regress-suites'
    suite:
      - "charsets"
      - "core"
      - "executor"
      - "qat"
      - "seabase"
      - "hive"
      - "compGeneral"
      - "udr"
      - "catman1"
      - "fullstack2"

    jobs:
      - core-regress-{suite}-{dist}

- job-template:
    name: 'core-regress-{suite}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 150
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/install trafodion/dcs"
      - pkg-traf:
           flavor: "release"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - sql-regress:
           dir: "./trafodion/core"
           suites: "{suite}"

    publishers:
      - console-log
      - git-log
      - traf-make-log
      - traf-regress-log
      - traf-runtime-log

- job-template:
    name: 'core-build-check-{dist}'
    node: 'redhat_{dist}'

    builders:
      - link-logs
      - multi-git-prep:
           repos: "trafodion/core"
      - pkg-traf:
           flavor: "release"
      - check-build:
           dir: "trafodion/core"

    publishers:
      - console-log
      - git-log
      - traf-make-log

- job-group:
    name: 'traf-publish'
    jobs:
      - traf-pub-{flavor}:
         flavor: "release"
      - traf-pub-{flavor}:
         flavor: "debug"


- job-template:
    name: 'traf-pub-{flavor}'
    node: 'redhat'

    builders:
      - link-logs
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs"
      - pkg-traf:
           flavor: "{flavor}"
      - maven-package:
           buildDir: "trafodion/dcs"
      - stage-traf:
           flavor: "{flavor}"

    publishers:
      - console-log
      - git-log
      - traf-make-log
      - traf-release-tar

- job:
    name: 'installer-build'
    node: redhat

    builders:
      - link-logs
      - multi-git-prep:
           repos: "trafodion/install"
      - pkg-install

    publishers:
      - console-log

- job:
    name: 'installer-pub'
    node: redhat

    builders:
      - link-logs
      - multi-git-prep:
           repos: "trafodion/install"
      - pkg-install
      - stage-install

    publishers:
      - console-log
      - traf-release-tar

- job-template:
    name: 'dcs-build'
    node: 'redhat'

    builders:
      - link-logs
      - gerrit-git-prep
      - maven-package:
           buildDir: "."
      - check-build:
           dir: "."

    publishers:
      - console-log

# For phoenix_test* jobs parameters tests1-4 should contain a list of tests seperated by a comma and NO space OR
#   QUICK1 (Current tests used by the phoenix_quick job.  Approx 15 min.)
#   QUICK2 (Tests selected based on whether it had failed before and on elapsed time.  Approx 15 min.)
#   PART1  (First half of the phoenix test divided by time.  Approx 30 min.)
#   PART2  (Second half of the phoenix test divided by time.  Approx 30 min.)
#
# For instance : ExtendedQueryExecTest,ProductMetricsTest    OR
#                QUICK1
#
# If using multiple testsX parameters, be sure to include trailing comma on all but the last one.
# If parameters tests1-4 are all "" then all tests will be run
# If parameter tests1 = DONT_RUN_TESTS then none of the phoenix tests will run.
# This should only be used in phoenix_test-experimental if phoenix_test is running all tests.

- job-group:
    name: 'phoenix-jobs'
    jdbcDriverType:
      - "T4"
      - "T2"
    jobs:
      - 'phoenix_test_{jdbcDriverType}-experimental-{dist}'
      - 'phoenix_test_{jdbcDriverType}-{dist}'
      - 'phoenix_quick_{jdbcDriverType}-{dist}'
      - 'phoenix_part1_{jdbcDriverType}-{dist}'
      - 'phoenix_part2_{jdbcDriverType}-{dist}'

- job-template:
    name: 'phoenix_test_{jdbcDriverType}-experimental-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 200
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: '{jdbcDriverType}'
           tests1: "DONT_RUN_TESTS"
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log
      - traf-runtime-log

- job-template:
    name: 'phoenix_test_{jdbcDriverType}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 200
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: '{jdbcDriverType}'
           tests1: ""
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log
      - traf-runtime-log

- job-template:
    name: 'phoenix_quick_{jdbcDriverType}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 75
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: '{jdbcDriverType}'
           tests1: "QUICK1"
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log
      - traf-runtime-log

- job-template:
    name: 'phoenix_part1_{jdbcDriverType}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 120
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - make-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: '{jdbcDriverType}'
           tests1: "PART1"
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log

- job-template:
    name: 'phoenix_part2_{jdbcDriverType}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 120
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test trafodion/install"
      - make-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           jdbctype: '{jdbcDriverType}'
           tests1: "PART2"
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log

# For pyodbc_test* jobs parameter tests1 should contain a list of tests seperated by a space. For instance : test_p2.ConnectTest.test11 test_p2.ConnectTest.test12
# If parameter tests1 is "" then all tests will be run
# If parameter tests1 = DONT_RUN_TESTS then none of the pyodbc tests will run.  This should only be used in pyodbc_test-experimental if pyodbc_test is running all tests.
- job-template:
    name: 'pyodbc_test-experimental-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 60
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - kill-traf
      - run-pyodbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/pytests"
           tests1: "DONT_RUN_TESTS"

    publishers:
      - console-log
      - git-log
      - pyodbc_test-log
      - traf-runtime-log

- job-template:
    name: 'pyodbc_test-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 60
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - kill-traf
      - run-pyodbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/pytests"
           tests1: ""

    publishers:
      - console-log
      - git-log
      - pyodbc_test-log
      - traf-runtime-log

# For jdbc_test* jobs parameter tests1 should start with "--testes=" and contain a list of
# tests seperated by a comma and NO space.
# For instance : "--tests=TestBasic,SomeOtherTest"
# If parameter tests1 is "" then all tests will be run
# If parameter tests1 = DONT_RUN_TESTS then none of the jdbc tests will run.
# This should only be used in jdbc_test-experimental if jdbc_test is running all tests.
- job-template:
    name: 'jdbc_test-experimental-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 70
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - run-jdbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/jdbc_test"
           tests1: "DONT_RUN_TESTS"

    publishers:
      - jdbc-xunit
      - console-log
      - traf-make-log
      - git-log
      - jdbc_test-log
      - traf-runtime-log

- job-template:
    name: 'jdbc_test-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 70
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/install"
      - pkg-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - pkg-install
      - run-jdbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/jdbc_test"
           tests1: ""

    publishers:
      - jdbc-xunit
      - console-log
      - traf-make-log
      - git-log
      - jdbc_test-log
      - traf-runtime-log

# Simple file type check can run on master
# Does not need to be exclusive
- job-template:
    name: 'gate-{name}-check-for-binary'
    node: master

    builders:
      - link-logs
      - gerrit-git-prep
      - assert-no-binary-files

    publishers:
      - console-log
