- job-group:
    name: 'core-regress-suites'
    jobs:
      - core-regress-{suite}-{dist}:
         suite: "charsets"
         dist:
          - "cdh4.4"
      - core-regress-{suite}-{dist}:
         suite: "core"
         dist:
          - "cdh4.4"
      - core-regress-{suite}-{dist}:
         suite: "executor"
         dist:
          - "cdh4.4"
      - core-regress-{suite}-{dist}:
         suite: "qat"
         dist:
          - "cdh4.4"
      - core-regress-{suite}-{dist}:
         suite: "seabase"
         dist:
          - "cdh4.4"
      - core-regress-{suite}-{dist}:
         suite: "hive"
         dist:
          - "cdh4.4"
      - core-regress-{suite}-{dist}:
         suite: "compGeneral"
         dist:
          - "cdh4.4"
      - core-regress-{suite}-{dist}:
         suite: "udr"
         dist:
          - "cdh4.4"
      - core-regress-{suite}-{dist}:
         suite: "catman1"
         dist:
          - "cdh4.4"

- job-template:
    name: 'core-regress-{suite}-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 180
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core"
      - make-traf:
           flavor: "debug"
      - sql-regress:
           dir: "./trafodion/core"
           suites: "{suite}"

    publishers:
      - console-log
      - git-log
      - traf-make-log
      - traf-regress-log

- job-group:
    name: 'traf-publish'
    jobs:
      - traf-pub-{flavor}:
         flavor: "release"
      - traf-pub-{flavor}:
         flavor: "debug"


- job-template:
    name: 'traf-pub-{flavor}'
    node: redhat_cdh4.4

    builders:
      - link-logs
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs"
      - pkg-traf:
           flavor: "{flavor}"
      - maven-package:
           buildDir: "trafodion/dcs"
      - stage-traf:
           flavor: "{flavor}"

    publishers:
      - console-log
      - git-log
      - traf-make-log
      - traf-release-tar

- job:
    name: 'installer-build'
    node: redhat_cdh4.4

    builders:
      - link-logs
      - multi-git-prep:
           repos: "trafodion/install"
      - pkg-install

    publishers:
      - console-log

- job:
    name: 'installer-pub'
    node: redhat_cdh4.4

    builders:
      - link-logs
      - multi-git-prep:
           repos: "trafodion/install"
      - pkg-install
      - stage-install

    publishers:
      - console-log
      - traf-release-tar

- job:
    name: 'dcs-build'
    node: redhat_cdh4.4

    builders:
      - link-logs
      - gerrit-git-prep
      - maven-package:
           buildDir: "."

    publishers:
      - console-log

# For phoenix_test* jobs parameters tests1-4 should contain a list of tests seperated by a comma and NO space. 
# For instance : ExtendedQueryExecTest,ProductMetricsTest
# If using multiple testsX parameters, be sure to include trailing comma on all but the last one.
# If parameters tests1-4 are all "" then all tests will be run
# If parameter tests1 = DONT_RUN_TESTS then none of the phoenix tests will run.  
# This should only be used in phoenix_test-experimental if phoenix_test is running all tests.
- job-template:
    name: 'phoenix_test-experimental-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 200
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test"
      - make-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           tests1: "DONT_RUN_TESTS"
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log

- job-template:
    name: 'phoenix_test-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 200
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test"
      - make-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           tests1: ""
           tests2: ""
           tests3: ""
           tests4: ""

    publishers:
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log

- job-template:
    name: 'phoenix_quick-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 60
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs trafodion/phoenix_test"
      - make-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - kill-traf
      - run-phoenix_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/phoenix_test"
           tests1: "AlterTableTest,ArithmeticQueryTest,AutoCommitTest,BinaryRowKeyTest,CoalesceFunctionTest"
           tests2: ",CompareDecimalToLongTest,CreateTableTest,CustomEntityDataTest,DeleteRangeTest"
           tests3: ",DistinctCountTest,ExecuteStatementsTest,ExtendedQueryExecTest,FunkyNamesTest"
           tests4: ",GroupByCaseTest,IndexTest,IsNullTest,KeyOnlyTest,MultiCfQueryExecTest,OrderByTest"

    publishers:
      - phoenix-xunit
      - console-log
      - traf-make-log
      - git-log
      - phoenix_test-log

# For pyodbc_test* jobs parameter tests1 should contain a list of tests seperated by a space. For instance : test_p2.ConnectTest.test11 test_p2.ConnectTest.test12
# If parameter tests1 is "" then all tests will be run
# If parameter tests1 = DONT_RUN_TESTS then none of the pyodbc tests will run.  This should only be used in pyodbc_test-experimental if pyodbc_test is running all tests.
- job-template:
    name: 'pyodbc_test-experimental-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 60
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs"
      - make-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - kill-traf
      - run-pyodbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/pytests"
           tests1: "DONT_RUN_TESTS"

    publishers:
      - console-log
      - git-log
      - pyodbc_test-log

- job-template:
    name: 'pyodbc_test-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 60
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs"
      - make-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - kill-traf
      - run-pyodbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/pytests"
           tests1: ""

    publishers:
      - console-log
      - git-log
      - pyodbc_test-log

# For jdbc_test* jobs parameter tests1 should start with "--testes=" and contain a list of 
# tests seperated by a comma and NO space. 
# For instance : "--tests=TestBasic,SomeOtherTest"
# If parameter tests1 is "" then all tests will be run
# If parameter tests1 = DONT_RUN_TESTS then none of the jdbc tests will run.
# This should only be used in jdbc_test-experimental if jdbc_test is running all tests.
- job-template:
    name: 'jdbc_test-experimental-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 60
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs"
      - make-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - run-jdbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/jdbc_test"
           tests1: "DONT_RUN_TESTS"

    publishers:
      - jdbc-xunit
      - console-log
      - traf-make-log
      - git-log
      - jdbc_test-log

- job-template:
    name: 'jdbc_test-{dist}'
    node: 'redhat_{dist}'

    wrappers:
      - timeout:
          timeout: 60
          fail: true
      - timestamps

    builders:
      - link-logs
      - kill-traf
      - multi-git-prep:
           repos: "trafodion/core trafodion/dcs"
      - make-traf:
           flavor: "debug"
      - maven-package:
           buildDir: "trafodion/dcs"
      - run-jdbc_test:
           trafCoreDir: "trafodion/core"
           dcsDir: "trafodion/dcs"
           testDir: "trafodion/dcs/src/test/jdbc_test"
           tests1: ""

    publishers:
      - jdbc-xunit
      - console-log
      - traf-make-log
      - git-log
      - jdbc_test-log

# Simple file type check can run on master
# Does not need to be exclusive
- job-template:
    name: 'gate-{name}-check-for-binary'
    node: master

    builders:
      - link-logs
      - gerrit-git-prep
      - assert-no-binary-files

    publishers:
      - console-log
