a,a:visited {color: #264D69 !important; text-decoration: none !important;}
a:hover {color: #000 !important; text-decoration: underline !important}
#breadcrumbs {border-top: 1px solid #D3D7CF; background: #fff}

#header {margin-top: 5px; height: 65px; background-color: grey;}
#jenkins-home-link { position: absolute; height: 65px; }
#trafodion-logo { position: absolute; height: 65px; left: 5px; }
#jenkins-head-icon { left: 175px; }
#jenkins-name-icon { position: absolute; bottom: 3px; left: 210px; }
.pane tr:nth-child(even) {background: #EEF3F5; color: #353535}
.pane tr:nth-child(odd) {background: #FFF; color: #353535}
.pane td {border: 1px solid #C5E2EA !important}
div.top-sticker-inner {background: none;}
div[id*='title-dashboard_portlet'] {background-color: #EEEEEE !important; border: 1px solid #D8D8D8 !important}
#statistics th {background-color: #EEEEEE !important; border: 1px solid #D8D8D8 !important}
#viewList td.inactive {border-top: 0; border-right: 0; border-left: 0; border-bottom: 1px solid #C5E2EA;}
#viewList td.inactive a {color: #353535 !important}
#viewList td.inactive:hover {background: none !important}
#viewList td.active {border-top: 0; border-right: 0; border-left: 0; border-bottom: 3px solid #CF2F19; padding-bottom: 0px !important; color: #CF2F19; background: none;}
#viewList td.filler {border: 0}
pre {color: black}
label {color: black}
