[access "refs/heads/*"]
        label-Code-Review = -2..+2 group trafodion-core
        label-Approved = +0..+1 group trafodion-core
        workInProgress = group trafodion-core
[access "refs/tags/*"]
        create = group trafodion-core
        pushTag = group trafodion-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
