[access "refs/heads/*"]
        label-Code-Review = -2..+2 group infra-core
        label-Approved = +0..+1 group infra-core
        workInProgress = group infra-core
[access "refs/tags/*"]
        create = group infra-core
        pushTag = group infra-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
