[access "refs/heads/*"]
        label-Code-Review = -2..+2 group manuals-core
        label-Approved = +0..+1 group manuals-core
        workInProgress = group manuals-core
[access "refs/tags/*"]
        create = group manuals-core
        pushTag = group manuals-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
