[access "refs/heads/*"]
        label-Code-Review = -2..+2 group sandbox-core
        label-Approved = +0..+1 group sandbox-core
        workInProgress = group sandbox-core
[access "refs/tags/*"]
        create = group sandbox-core
        pushTag = group sandbox-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
